<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>SQLementary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>

    <!-- Le styles -->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="../static/css/SQLementary.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
	
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>	
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body ng-controller="QueryCtrl" ng-cloak>

    <div class="container-narrow">

      <div class="masthead">
	  <!--
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>-->
        <h3 class="muted">SQLementary</h3>
      </div>

      <hr>

<div class="centered-pills">
	<select class="selectpicker">
	    <option>Chinook SQLite</option>
	    <!-- <option>NorthWind SQLite</option> -->
	</select>
	
	<div class="clear-fix"></div>
		  
	<ul class="nav nav-pills" id="myTab">
	  <li><a href="#builder" data-toggle="pill">Builder</a></li>
	  <li><a href="#erdviewer" data-toggle="pill">ERD Viewer</a></li>
	</ul> 
</div>
	
	<div class="tab-content">
	  <div class="tab-pane active" id="builder">
	  	<div id = "returned-cols">
	  		<h4>Returned Columns</h4>
	  		<ul class="unstyled"  ng-repeat="col in desiredcols">
	  		<li>
	  			<a ng-click="removeColumn(col)"><i class="icon-remove"></i></a>
	  			<select class="span1" ng-model="col.aggregate" ng-options="option for option in aggOptions">
		          <option value="">Aggregate</option>
		        </select>
				<select class="span2" ng-model="col.table" ng-options="option for option in typeOptions">
		          <option value="">Select Table</option>
		        </select>
			    <ng-switch on="!!col.table">
			    <select class="span2" ng-model="col.column" ng-options="key as key for (key, value) in schema[col.table]" ng-switch-when="true">
		          <option value="">Select Column</option>
		        </select>
				</ng-switch>
			</li>
			</ul>
			<button class="btn btn-small btn-inverse" type="button" ng-click="addDesiredCol()">Add Column</button>
	  	</div>
	  	<br />
	  	<div id = "filters">
	  		<h4>Filters</h4>
	  		<ul class="unstyled" ng-repeat="fil in filters">
		  	<li>
		  		<a ng-click="removeFilter(fil)"><i class="icon-remove"></i></a>
		  		<select class="span1" ng-model="fil.aggregate" ng-options="option for option in aggOptions">
		          <option value="">Aggregate</option>
		        </select>
		        
		  		<select name='table' class="span2" ng-model="fil.table" ng-options="option for option in typeOptions">
		          <option value="">Select Table</option>
		        </select>
		        
			    <ng-switch on="!!fil.table">
			    <select name='column' class="span2" ng-model="fil.column" ng-options="key as key for (key, value) in schema[fil.table]" ng-switch-when="true">
		          <option value="">Select Column</option>
		        </select>						
		        </ng-switch>
		        <ng-switch on="!!fil.table && !!fil.column">
		        <span ng-switch-when="true">
					<select class="selectpicker span1" ng-model="fil.operator">
						<option>&#061;</option>	
						<option>&#060;</option>				
						<option>&#060;&#061;</option>
						<option>&#062;</option>
						<option>&#062;&#061;</option>
						<option>&#060;&#062;</option>
					    <option value="between">Btw</option>
					</select>
					
					<!--
					<ng-switch on=schema[fil.table][fil.column]>
						<input type="number" ng-model="fil.value1" class="value1 span2" ng-switch-when="INTEGER"></input>
						<span ng-switch-default>
							<input type="text" ng-model="fil.value1" class="value1 span2"></input>
						</span>
					</ng-switch>
					-->
					<input type="text" ng-model="fil.value1" class="value1 span2"></input>
									
				</ng-switch>
				<ng-switch on="fil.operator=='between'">
					<span ng-switch-when="true">
						
						<!--
						<ng-switch on=schema[fil.table][fil.column]>
							<input type="number" ng-model="fil.value2" class="value2 span2" ng-switch-when="INTEGER"></input>
							<span ng-switch-default>
								<input type="text" ng-model="fil.value2" class="value2 span2"></input>
							</span>
						</ng-switch>
						-->
						<input type="text" ng-model="fil.value2" class="value2 span2"></input>
					</span>
				</ng-switch>				
				</span>
			</li>
			</ul>
			<button class="btn btn-small btn-inverse" type="button" ng-click="addFilter()">Add Filter</button>
	  	</div>
	  	<br></br>
	  	<h4>Options</h4>
	  	<h5>Distinct rows:
			    <input type="checkbox" checked="checked" ng-model="distinct"></h5>
		<h5>Number of results: <input class="input-mini" type="number" name="input" ng-model="rowcount"
                     min="0" max="500" style="height: 17px !important;" required></h5>
	  	<br />
	  	<div class="centered-pills">
	  	<button class="btn btn-primary" type="button" ng-click="fetchQueryDataSQL()">Fetch</button>
	  	</div>
	  	
	  	<div id = "data">
	  		<h4>Data 
			    <input type="checkbox" checked="checked">
			</h4>
			
	  		<table id="table_id">
			    <thead>
			        <tr>
			            <th ng-repeat="col in desiredcols">{{'{{col.aggregate + " " + col.table + "." + col.column}}'}}</th>
			            <!--<p>{{'{{col.column + col.table + "." + schema[col.table][col.column]}}'}}</p>-->
			        </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="row in results">
			            <td ng-repeat="col in row">{{'{{col}}'}}</td>
			        </tr>
			    </tbody>
			</table>
  		</div>
	  	<br />
	  	<div id = "sql">
	  		<h4>SQL</h4>
	  		<p style="white-space: pre-wrap;">{{'{{sql}}'}}</p>
  		</div>
	  </div>
	  <div class="tab-pane" id="erdviewer">
	  <div class="centered-pills">
	  	<img src="{{ url_for('static', filename='img/chinook-schema.png') }}" width = '600' />
	  	</div>
	  	<div class="clear-fix"></div>
	  </div>
</div>


      <hr>

      <div class="footer">
        <p>&copy; Len Boyette 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>
    <script>
  $(document).ready(function() {
    $('#myTab a:first').tab('show');
    $('#table_id').dataTable(
    	{"sScrollY": "200px",
		"sDom": "frtiS",
		"bDeferRender": true});
  })
</script>
    <script src="../static/js/SQLementary.js"></script>
  </body>
</html>
